html,
body {
    margin: auto 0;
    color: rgb(40, 40, 40);
}

nav {}

#header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin: auto;
    color: rgb(248, 248, 248);
    background: rgba(30, 40, 58, 1);
}

h1 {
    font-size: 3.2em;
}

nav>ul {
    list-style-type: none;
    padding: 0;
}

/* 
#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* #nav-bar>ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
} */

li {
    margin: 4px 0;
}

li a {
    /*border: 1px solid black;*/
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

a:hover {
    background-color: rgba(110, 124, 152, 0.5);
}

a:visited {
    color: #FFF;
}

section {
    padding: 20px 10px;
    text-align: justify;
    border-bottom: thin solid rgba(0, 0, 0, 0.125);
}

section>p {
    padding: 0 13px;
    line-height: 1.5em;
}

#wrapper,
#vid-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid lightgrey;
    margin: 9px;
    padding: 0 5px;
    text-align: center;
    max-width: 250px;
}

#video {
    text-align: center;
}

.description {
    color: #888;
}

.printers {
    width: 240px;
    height: 240px;
}

form,
footer,
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;

}

input {
    width: 12rem;
    height: 1.2rem;
    margin: 5px auto;
}

button {
    width: 5.4rem;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #5bb94c;
    color: #FFF;
    margin: auto;
}

button:hover {
    background: darkgreen;
}

#about {}

#contact {}

#footer {
    padding: 5px;
    background: #595656;
    color: #FFF;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */

    html {
        background-color: rgba(223, 223, 223, .5);
        margin-top: 40px;
    }

    body {
        margin: auto;
        max-width: 800px;
        align-content: center;
        background-color: white;
        box-shadow: 0 0 10px 10px rgb(191, 190, 190);
    }

    #nav-bar {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    footer {
        margin-bottom: 40px;
    }

    h1 {
        text-align: left;
        /*margin: 20px;*/
        padding-left: 30px;
    }

    ul {
        display: flex;
        width: 100%;
        text-align: right;
        align-self: center;
        flex-direction: row-reverse;
    }

    li a {
        margin: 0 10px;
        padding: 12px 20px;
    }

    /*
    h1 {
        display: flex;
        font-size: 3.2em;
        margin: 5px 0;
        padding: 12px;
    } */
}