@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap');

/* Mobile Friendly */

html,
body {
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 44, 44);
}

body {
    display: grid;
    grid-template-areas:
        'header header header header'
        'about img img img'
        'products products products products'
        'contact contact contact contact'
        'footer footer footer footer';
    grid-gap: 5px;
}

#header {
    background: #facf5a;
    grid-area: header;
    text-align: center;
}

#nav {
    padding-left: 0;
}

#nav-bar img {
    width: 20rem;
    filter: opacity(.77);
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
    transition: background 0.8s ease;
}

.nav-link a:hover {
    background: hsl(44,100%,80%);
    transition: background 0.8s ease;
}

#about {
    grid-area: about;
    width: auto;
    margin-left: 10px;
}

#products {
    background: #ccf7f4;
    grid-area: products;
    margin: 0 5px;
    padding: 5px;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid darkgray;
    background: #fac;
    width: 300px;
    align-content: center;
    text-align: center;
    margin: .3em;
}

.card img {
    height: 350px;
    width: 300px;
}

.card p {
    padding: 0 10px;
    text-align: justify;
    color: darkslategray;
    font-size: .9rem;
}

input{
    width: 18em;
    height: 1.5em;
    border: 1px solid lightslategray; 
    margin: 10px 0;
}

input:focus {
    background: lightgoldenrodyellow;
}

button {
    width: 7em;
    padding: .5em;
    background: rgba(255,69,0,1);
    opacity: .9;
    border: none;
    color: white;
    border-radius: 4px;
    transition: 1s;
    font-weight: 500;
}

button:hover {
    background: rgba(255,69,0,.7);
    color: white;
}

#contact {
    grid-area: contact;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
}

#footer {
    padding: 5px;
    background: #facf5a;
    grid-area: footer;
    text-align: center;
}

h2 {
    color: #ff5959;
}


@media only screen and (min-width: 1128px) {

    /* For desktop: */

    #nav-bar {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    h1 {
        text-align: left;
        padding-left: 30px;
        margin-top: 10px
    }

    ul {
        display: flex;
        width: 100%;
        text-align: right;
        align-self: center;
        flex-direction: row-reverse;
        margin-right: 50px;
    }

    li a {
        margin: 0 10px;
        padding: 12px 15px;
    }
}