@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap');

/* Mobile Friendly */

.my-component[aria-hidden="true"] {
    display: none;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

html,
body {
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 44, 44);
}

body {
    display: grid;
    grid-template-areas:
        'header header header header'
        'about about about about'
        'products products products products'
        'information information information information'
        'footer footer footer footer';
    grid-gap: 5px;
}

#header {
    background: #facf5a;
    grid-area: header;
    text-align: center;
}

#nav {
    padding-left: 0;
}

#nav-bar img {
    width: 20rem;
    filter: opacity(.77);
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: inherit;
}

ul li {
    transition: background 0.8s ease;
}

li a {
    display: block;
    padding: .6em 0;
}

a:hover {
    background: hsl(44, 100%, 80%);
    transition: background 0.8s ease;
    transform: scale(1.2);
}

section>p {
    margin: 0 20px;
}

#about {
    grid-area: about;
    width: auto;
    padding: 0 8px;
}

#products {
    grid-area: products;
    padding: 15px;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.card {
    border: 1px solid darkgray;
    background: #FFF;
    width: 300px;
    align-content: center;
    text-align: center;
    margin: .3em;
}

.card img {
    height: 350px;
    width: 300px;
}

.card p {
    padding: 0 10px;
    color: darkslategray;
    font-size: .9rem;
}

#vid-card {
    width: 100%;
    max-width: 750px;
    max-height: auto;
    margin: 0 auto;
    padding: 20px 0;
}

#video {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

input {
    width: 17em;
    height: 1.6em;
    border: 1px solid lightslategray;
    font-size: 15px;
}

input:focus,
input:hover {
    background: lightgoldenrodyellow;
}

button {
    border-radius: 4px;
    background-color: rgba(255, 69, 0, 1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: .5em;
    width: 7em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: rgba(255, 69, 0, .8);
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -10px;
    transition: 0.5s;
}

button:hover span {
    padding-left: 10px;
}

button:hover span:before {
    opacity: 1;
    left: -10;
}

button:active {
    background-color: #d61414;
    transform: translateY(4px);
}

#information {
    grid-area: information;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
}

#footer {
    padding: 5px;
    background: #facf5a;
    grid-area: footer;
    text-align: center;
}

h2 {
    color: #ff5959;
}

@media only screen and (min-width: 950px) {

    /* For desktop: */

    /*
    body {
        grid-template-areas:
            'header header header header'
            'img img img about'
            'products products products products'
            'information information information information'
            'footer footer footer footer';
    }
    */

    #nav-bar {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #header {
        position: fixed;
        width: 100%;
        overflow: hidden;
    }



    #about {
        margin: 80px 10px 0 10px;
    }

    h1 {
        text-align: left;
        padding-left: 30px;
        margin-top: 10px
    }

    ul {
        display: flex;
        width: 100%;
        text-align: right;
        align-self: center;
        flex-direction: row-reverse;
        margin-right: 50px;
    }

    li a {
        margin: 0 10px;
        padding: 12px 25px;
    }

}